* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: rgb(97, 218, 255);
}

/* interactive visualization */
.highlight {
    stroke-width: 2px;
    stroke: darkslategray;
    border: 3px solid black;
}
.transparent {
    opacity: 0.4;
}

/* ribbon */
.groupDiv {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 10%;
}

/* info panel */
#infoPanel {
    display: inline-block;
    min-width: 130px;
    opacity: 0.9;
    border: solid 1px lightgray;
    background-color: white;
    text-align: center;
}
.countryName {
    color:rgb(25,25,25);
    font-size: 17px;
    margin-bottom: 6px;
    margin-top: 6px;
}
.percentage {
    color:rgb(25,25,25);
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 3px;
}
.vaccineNumbers {
    color:rgb(25,25,25);
    font-size: 14px;
    margin-top: 0px;
}



/*
MAP COLORS
*/
.vaccine0 {
    background-image: linear-gradient(315deg, #000 25%, #fff 25%, #fff 50%, #000 50%, #000 75%, #fff 75%, #fff);
    background-size: 4px 4px;
}
.vaccine1 {
    fill: white;
    background-color: white;
}
.vaccine2 {
    fill: rgb(255, 255, 210);
    background-color: rgb(255, 255, 210);
}
.vaccine3 {
    fill: rgb(238, 255, 160);
    background-color: rgb(238, 255, 160);
}
.vaccine4 {
    fill: rgb(203, 255, 124);
    background-color: rgb(203, 255, 124);
}
.vaccine5 {
    fill: rgb(162, 255, 55);
    background-color: rgb(162, 255, 55);
}
.vaccine6 {
    fill: rgb(115, 226, 3);
    background-color: rgb(115, 226, 3);
}
.vaccine7 {
    fill: rgb(94, 187, 2);
    background-color: rgb(94, 187, 2);
}
.vaccine8 {
    fill: rgb(57, 114, 0);
    background-color: rgb(57, 114, 0);
}